<h1>User info</h1>
<%= form_with model:@user, local:true do |f| %>
  <%= f.attachment_field :profile_image %>
  <label for="inputName">name</label>
  <%= f.text_field :name,autofocus: true, id:"inputName", placeholder:"name"%>
  <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"introduction" %>
<%= f.submit "Update User" %>
<% end %>
